body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main {
  padding: 0 40px;
}

.title-link {
  color: #ffffff;
}

.title-link:hover {
  color: #efefef;
  text-decoration: none;
}

.title-link:active {
  color: #efefef;
  text-decoration: none;
}

.title-link:focus {
  color: #ffffff;
  text-decoration: none;
}

.fa.fa-user-o {
  color: #ffffff !important;
}

.form-wrap {
  max-width: 768px;
  padding: 10px;
  margin: 25px auto 15px;
  position: relative;
}

.swatch-wrap {
  padding: 10px;
}

.swatch-wrap h4 {
  text-align: center;
}

.swatch-wrap i {
  padding: 20px;
}
